.saved-conversions-container {
    background: white;
    opacity: .9;
    margin: 100px;
    color: black;
    opacity: .7;
    border-radius: 10px;
    box-shadow: 9px 14px 30px rgb(193, 4, 250);
    font-family: 'Nanum Brush Script', cursive;
    font-size: 30px;
}

@media (max-width: 400px) {
    .saved-conversions-container {
        font-size: 20px;
        width: 90vw;
        margin: 20px;
    }
}