.conversion-paragraph {
    /* width: 50%;
    height: 50%; */
    margin: 100px;
    /* margin-right: 100px; */
    background: white;
    font-size: 40px;
    color: black;
    border: 7px solid black;
}