.App {
  text-align: center;
  position: relative;
}

header {
  font-size: 60px;
  /* margin: 30px; */
  /* margin-bottom: 100px; */
  /* background: #001334; */
  color: white;
  margin: 0;
}

.current-conversion {
  background: white;
  color: black; 
  width: 40%;
  height: 45%;
  /* z-index: 5; */
}

#animation-container {
  position: fixed;
  width: 100vw;
  /* height: 100vh; */
  z-index: -1;
}