.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    display: flex;
    margin: 5px;
    width: 100%;
    border: 2px solid black;
    font-size: 30px;
    cursor: pointer;
}

.form-inputs {
    display: flex;
    margin-bottom: 20px;
}

.form-buttons {
    display: flex;
    justify-content: center;
  }

  .show-conversion-button, 
  .clear-button,
  .save-conversion-button {
    margin: 10px;
    width: 150px;
    height: 3vh;
  }




  
