.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-family: 'Nanum Brush Script', cursive;
}

form {
  display: flex;
  font-size: 30px;
  color: white;
}

.amount {
  width: 17%;
  height: 8vh;
  margin-right: 70px;
  border-radius: 10px;
  box-shadow: 20px 20px 80px rgb(193, 4, 250);
  margin-bottom: 140px;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 30px;
  cursor: pointer;
}


.label-one,
.label-two {
  height: 8vh;
}

.country-one,
.country-two {
  border-radius: 10px;
  font-family: 'Nanum Brush Script', cursive;
  font-size: 30px;
  height: 8vh;
  box-shadow: 20px 20px 80px rgb(193, 4, 250);
  cursor: pointer;
}

.label-two {
  margin-right: 10px;
}


.form-buttons {
  display: flex;
}

.save-conversion-button {
  margin: 10px;
  border-radius: 27px;
  box-shadow: 9px 14px 30px rgb(193, 4, 250);
  font-size: 22px;
  font-family: 'Nanum Brush Script', cursive;
  cursor: pointer;
}

.show-conversion-button, 
.saved-button,
.clear-button,
.save-conversion-button:not(:disabled) {
  margin: 10px;
  width: 10vw;
  height: 6vh;
  border-radius: 27px;
  box-shadow: 9px 14px 30px rgb(193, 4, 250);
  font-size: 22px;
  font-family: 'Nanum Brush Script', cursive;
  cursor: pointer;
}

.show-conversion-button:hover, 
.saved-button:not(:disabled):hover,
.clear-button:hover,
.show-conversion-button:hover {
  background-color: black;
  color: white;
}


@media (max-width: 1210px) {
  .show-conversion-button, 
  .saved-button,
  .clear-button,
  .save-conversion-button:not(:disabled) {
    font-size: 32px;
    width: 20vw;
  }
}

@media (max-width: 920px) {
  .show-conversion-button, 
  .saved-button,
  .clear-button,
  .save-conversion-button:not(:disabled) {
    font-size: 25px;
  }
}

@media (max-width: 737px) {
  .show-conversion-button, 
  .saved-button,
  .clear-button,
  .save-conversion-button:not(:disabled)  {
  width: 21vw;
  font-size: 17px;
}

.country-one,
.country-two,
.amount {
  display: flex;
  font-size: 19px;
}

.amount {
  width: 29vw;
  margin-bottom: 25px;
}

.country-one,
.country-two {
  width: 30vw;
}
}

@media (max-width: 400px) {
  .show-conversion-button, 
  .saved-button,
  .clear-button,
  .save-conversion-button  {
  width: 19vw;
  font-size: 16px;
}
}